.container {
  text-align: center;
  padding: 64px 24px;
  max-width: 440px;
  margin: 80px auto 0 auto;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #222;
}

.term {
  font-size: 1.2rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #3d3d3d;
  margin: 0;
}
