$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-phone + 1}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}
